@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-recital: var(--font-recital-book);
  --color-primary-dark: #121212;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  font-family: var(--font-recital-book);
  font-size: 12px;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.prev-btn::after,
.next-btn::after {
  /* content: attr(aria-label); */
  position: fixed;
  pointer-events: none;
  color: black;
  font-size: 12px;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.prev-btn:hover::after,
.next-btn:hover::after {
  opacity: 1;
}
