@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-recital: var(--font-recital-book);
  --color-primary-dark: #121212;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  font-family: var(--font-recital-book);
  font-size: 12px;
}

/* Hide scrollbars globally but keep scrolling functional */
html,
body {
  /* scrollbars hidden, scrolling буде на внутрішніх контейнерах */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.prev-btn::after,
.next-btn::after {
  /* content: attr(aria-label); */
  position: fixed;
  pointer-events: none;
  color: black;
  font-size: 12px;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.prev-btn:hover::after,
.next-btn:hover::after {
  opacity: 1;
}

.video-button::after {
  content: 'Video by Samuel Lang';
  position: absolute;
  left: 0;
  bottom: -6px;
  color: #717171;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  display: none;
  transform: scale(var(--after-scale, 1));
  transform-origin: left bottom;
}

.video-button.show-text::after {
  opacity: var(--after-opacity, 0);
  display: block;
}

.hover-text {
  color: #717171;
  transition: color 0.25s ease;
}

/* .video-button-video::before {
  content: 'Expand';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  opacity: 0;
  color: #171717;
  transition: opacity 0.25s ease;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.video-button-video:not(.video-button-video--expanded):hover::before {
  opacity: 1;
}

.video-button-video--expanded::before {
  opacity: 0;
} */
